## Questions to be done during the lab:

**Questions 1.** 
Write a function name 'avg', which take an array of number and calculate the average

In [48]:
def avg(marks):
    total = 0
    for mark in marks:
      total+=mark
      average = total/len(marks)
    return (average)

# Creating a list of numbers called mark2
mark2 = [55,88,78,90,79]
# calling  function avg to calculate average of mark2 list
avg(mark2)

78.0

In [50]:
import numpy as np
np.mean(mark2)

78.0

In [51]:
# Only run this cell to check your answer. If it is true then no error will be raised
import numpy as np
assert(avg(mark2) == np.mean(mark2))

**Questions 2**.
Write a function name 'areaCricle', which take radius as a argument and calculate the area.

In [52]:
import math # Use pi value from math package
def areaCircle(radius):
    """By taking radius,this function returns the area of circle"""
    # Area of circle = pi*r*r
    r  = radius
    pi = math.pi
    return pi*r*r

areaCircle(10)

314.1592653589793

In [55]:
# Only run this cell to check your answer. If it is true then no error will be raised
assert(round(areaCircle(10),2) == 314.16)

**Question 3.**
Write a function that takes a list of items and returns a new list with the order of items reversed, without using any inbuilt Python features that will do this for you (e.g. .reverse() or reversed(â€¦)). As specified in the instructions, your function must not modify the contents of the original list.

In [56]:
def reversed_list(in_list):
    list_reversed = in_list[::-1]
    #raise NotImplementedError()
    return list_reversed

# Creating a list of numbers
listt = [1,2,3,4,5]
# calling the function reversed-list by passing created list
reversed_list(listt)

[5, 4, 3, 2, 1]

In [57]:
# Only run this cell to check your answer. If it is true then no error will be raised
assert(reversed_list([1, 2]) == [2, 1])

**Question 4.** 

*Read carefully: *Write a function to perform a Bubble Sort on a list of numbers. 

Bubble sort is a sorting algorithm and works by iterating over the list, comparing adjacent items, and swapping them if they are out of order.

Notice that after the first pass of a bubble sort, the biggest item is always moved to the end of the list. This means the next iteration does not need to check the final position of the list.

In addition, you can keep track of how many items were swapped on each iteration. If this count is zero on any iteration, then the list must be fully sorted, in which case the algorithm can stop early.

Hint: To understand Bubble Sort Algorithm, please [Watch](https://www.youtube.com/watch?v=xli_FI7CuzA)

In [61]:
def bubble_sort(in_list):
    n = len(in_list)
    for i in range(n):
      for j in range(0,n-i-1):
        if in_list[j]>in_list[j+1]:
          in_list[j],in_list[j+1]= in_list[j+1],in_list[j]
    return in_list
    #raise NotImplementedError()

li = [37, 42, 9, 19, 35, 4, 53, 22]
bubble_sort(li)

[4, 9, 19, 22, 35, 37, 42, 53]

In [62]:
# Only run this cell to check your answer. If it is true then no error will be raised
assert(bubble_sort([5, 4, 3, 2, 1]) == [1, 2, 3, 4, 5])
assert(bubble_sort([37, 42, 9, 19, 35, 4, 53, 22])== [4, 9, 19, 22, 35, 37, 42, 53])

**Question 5.** 

Write a function to find $n^{th}$ Fibonacci number
The Fibonacci numbers are the numbers in the following integer sequence.

| 1  | 2 | 3  | 4 | 5  | 6 | 7  | 8 | 9 | 10 | 11 | 12 |
| -- |-- | -- | --| -- | --| -- | --|-- | -- |-- |-- |
| 0  | 1 | 1  | 2 | 3  | 5 | 8  | 13| 21| 34 |55 |89 |

Please consider index starting from 1

In mathematical terms, the sequence $F_n$ of Fibonacci numbers is defined by the recurrence relation 

$F_n = F_n-1 + F_n-2$

with seed values 

$F_0 = 0$ and $F_1 = 1$

In [63]:
def Fibonacci(n):
  print()
  if n==1:
    return 0
  elif n==2:
   return 1
  else:
    return Fibonacci(n-1)+Fibonacci(n-2)
  #raise NotImplementedError()

Fibonacci(7)

# Fibonnaci series
## 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144

8

In [64]:
# Only run this cell to check your answer. If it is true then no error will be raised
assert(Fibonacci(7) == 8)
assert(Fibonacci(9) == 21)